.About__body p {
	@apply mb-4 md:pr-16;
}
.About__body strong {
	@apply block;
}

.About__social {
	transition: all 1s;
}

.About__socials:hover .About__social {
	@apply opacity-50 mr-2;
}

.About__socials:hover .About__social:hover {
	@apply opacity-100 mr-4 ml-2;
}

.About__photo:hover span {
	@apply opacity-50 transition duration-300;
}

.About__card:nth-child(3n+2) {
	@apply border-l border-r border-gray-200;
}

.About__award * {
	transition: all 0.3s;
}
.About__award:hover img {
	transform: scale(1.05);
}
.About__award:hover strong {
	@apply py-2;
}

@media (max-width: 1279px) { 
	.About__hero {
		background: linear-gradient(#cfcfcf, #aaa) !important;
	}
}

@media (max-width: 640px) {
	.About__card:nth-child(3n+2) {
		@apply border-l-0 border-r-0 border-t border-b border-gray-200;
	}
}