.Credits {
	@apply text-xs text-gray-600 mb-4;
}
.Credits h3 {
	@apply text-base text-black mb-2;
}
.Credits p {
	@apply mb-2 leading-5 text-xs;
}
.Credits p strong {
	@apply text-gray-600;
}
.Credits ul {
	@apply m-0 mb-2 leading-5;
}
.Credits strong {
	@apply block -mb-2;
}
.Credits li {
	@apply pb-0;
}

@media screen and (max-width: 600px) {
	.Credits ul {
		@apply px-4;
	}
}