@import 'folio-rich-gallery/src/css/masonry.css';
@import 'folio-rich-gallery/src/css/preview.css';
@import 'folio-rich-gallery/src/css/imageBox.css';

.title {
    @apply leading-none;
}
.client {
    @apply text-red-500 leading-none;
}
.description {
    @apply text-gray-500 leading-tight;
}