.Hero__vimeo {
	@apply bg-red-500 overflow-hidden p-0 relative;
	height: 66vh;
}

.Hero__vimeo iframe {
	box-sizing: border-box;
	width: 177.77vh;
	height: 56.25vw;
	min-height: 100%;
	min-width: 100%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}