.Post {
	position: relative;
}
.Post h1,
.Post h3,
.Post h4,
.Post p {
	@apply px-0;
}
.Post h1 {
	@apply text-3xl mb-4 font-light;
}
.Post h3 {
	@apply text-base font-medium;
}
.Post p {
	@apply text-sm text-gray-600 mb-4 w-1/2 leading-5;
}
.Post img, 
.Post picture {
	@apply block mb-4;
}
.Post p img {
	@apply max-w-none;
	width:  200%;
	height:  auto;
}
.Post p strong {
	@apply text-red-500;
}
.Post .swiper {
	@apply mb-4;
	width:  200%;
}
.Post .swiper picture,
.Post .swiper img {
	@apply mb-0 w-full;
}
.Post p img:last-child  {
	@apply mb-0;
}
.Post hr {
	@apply mb-4;
}

.Post-grid {
	@apply grid gap-4;
}
.Post-grid--cols-2 {
	@apply grid-cols-2;
}
.Post-grid--cols-3 {
	@apply grid-cols-3;
}
.Post-grid img,
.Post-grid picture {
	@apply w-full h-auto mb-0;
}

@media screen and (max-width: 600px) {
	.Post h1,
	.Post h2,
	.Post h3,
	.Post h4,
	.Post p {
		@apply px-4;
	}

	.Post p {
		@apply w-full;
	}
	.Post p img,
	.Post .swiper {
		@apply w-screen;
	}
	.Post p img,
	.Post .swiper {
		@apply -mx-4;
	}
	.Post .swiper picture,
	.Post .swiper img {
		@apply mx-0;
	}
	.Post-grid,
	.Post-grid--cols-2,
	.Post-grid--cols-3 
	{
		@apply grid-cols-1;
	}
}