@tailwind base;
@tailwind components;
@tailwind utilities;

@import './Vimeo.scss';
@import './Hero.scss';
@import './Credits.scss';
@import './Gallery.scss';
@import './Post.scss';
@import './About.scss';

body {
	@apply bg-gray-100;
	font-family: 'Neue Machina Light';
}
strong {
	font-family: 'Neue Machina Regular';
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.mask {
	@apply overflow-hidden block p-0;
}

.mask--inline {
	@apply overflow-hidden inline-block p-0;
}

.word {
	@apply block;
}

.hover-zoom-in {
	@apply transition duration-300;
}
.hover-zoom-in:hover {
	transform: scale(1.05);
}