.Template__video {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
.Template__video--isWidescreen {
	height: 0; padding-top: 56.25%;
}
.Template__video--isPal {
	height: 0; padding-top: 75%;
}
.Template__video iframe {
	position: absolute;
    top:0;
    left: 0;
	width: 100%;
	height: 100%;
}